::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #808080;
    -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #808080;
    -webkit-border-radius: 2px;
}
html, body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: '微软雅黑';
    font-size: 14px;    /*text-shadow: 1px 1px 6px #eee;*/

    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF2E6F), color-stop(1, #FF623C));
    */
}
ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 20px;
    width: 455px;
    height: 325px;    /*padding-right: 2px;*/
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    background-color: rgb(250, 250, 250);
}
li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-left: 5px solid rgb(240, 240, 240);
    color: rgb(130, 130, 130);
    border-radius: 2px;
    margin: 2px;
    padding-left: 5px;    /*margin: 2px;*/
}
li:hover {

    /*color: rgb(10, 90, 150);*/

    /*box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .4);*/
    border-left: 5px solid rgb(255, 50, 100);
}
.playing {
    border-left: 5px solid rgb(255, 50, 100);
    color: rgb(0, 0, 0);
}
li img {
    width: 27px;
    height: 27px;
    float: left;
}
li span {
    float: left;
    margin-left: 5px;
}
#container {

    /*margin-top: 42px;*/
}
#player {
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 20px;
    width: 454px;
    height: 100px;    /*border: 1px solid #808080;*/
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgb(250, 250, 250);    /*box-shadow: inset 10 10 10 50 rgb(0, 0, 0);*/
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
.title {
    margin-top: 8px;
    margin-left: 8px;
    width: 330px;
    display: block;
    float: left;
    white-space: nowrap !important; /* 强制文字不换行(标准浏览器) */
    white-space: normal; /* 溢出的时候文字换行，并配合上面的固定高度，对文字进行裁切 */
    overflow: hidden;
    text-overflow: ellipsis; /* 截断文字，显示省略号(...) */
}
.album {
    float: left;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-image: url("../img/album.png");
    box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
}
#progress_bar {
    width: auto;
    height: 8px;
    float: left;    /*padding: 15px 15px;*/
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 15px;
    overflow: hidden;
}
.inner_bar {
    width: 260px;
    height: 100%;
    border: 1px solid #808080;
    border-radius: 2px;
    float: left;
    vertical-align: middle;
}
.inner_progress_bar {
    float: left;
    width: 0px;
    height: 8px;
    position: absolute;    /* background-color: #808080;
    */
    background: -webkit-gradient(linear, left center, right center, from(rgb(255, 46, 111)), to(rgb(255, 99, 59)));
    margin-top: 1px;
    margin-left: 1px;
}
.inner_time {
    font-size: 13px;
    float: left;
    display: block;
    margin-top: 15px;    /*margin-right: 10px;*/
    margin-left: 5px;
}
.wh32 {
    width: 32px;
    height: 32px;
}
.wh16 {
    width: 16px;
    height: 16px;
}
#control_bar {
    width: 340px;
    height: 40px;
    float: left;    /*margin-top: 15px;*/
    margin-left: 8px;    /*padding: 5px 4px;*/
    overflow: hidden;
}
#control_bar .btnL {
    cursor: pointer;
    float: left;
    margin-right: 15px;
    background-position-x: 0px;
    background-size: 64px 32px;
}
#control_bar .btnL:hover {
    background-position-x: -32px;
}
#control_bar .btnR {
    cursor: pointer;
    float: right;
    margin-left: 10px;
    background-size: 64px 32px;
    background-position-x: 0px;
}
#control_bar .btnR:hover {
    background-position-x: -32px;
}
#control_bar .back {
    background-image: url('../img/fix/new_up.png');
}
#control_bar .play {
    background-image: url('../img/fix/new_play.png');
}
#control_bar .pause {
    background-image: url('../img/fix/new_pause.png');
}
#control_bar .next {
    background-image: url('../img/fix/new_next.png');
}
#control_bar .loop {
    background-image: url('../img/fix/new_loop.png');
}
#control_bar .single {
    background-image: url('../img/fix/new_single.png');
}
#control_bar .shuffle {
    background-image: url('../img/fix/new_shuffle.png');
}
#control_bar .mute {

    /*    background-position: 0px -32px;*/
    background-image: url('../img/fix/new_mute.png');
}
#control_bar .max {
    background-image: url('../img/fix/new_max.png');
}
#control_bar .download {
    background-image: url('../img/fix/new_download.png');
}
#volume_bar {
    width: auto;
    height: 32px;
    padding: 5px 5px;
    float: right;
}
#volume_bar .img {
    float: right;
    background-image: url('../img/new_max.png');
}
#notify {
    position: absolute;
    float: left;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 15px 15px;
    left: 30%;
    box-shadow: 0 0 100px rgba(0, 0, 0, .5); /* 20 */
    z-index: 1001;
}
#notify span {
    float: left;
    font-size: 14px;
    line-height: 16px;
    margin-left: 5px;
}
#notify img {
    float: left;
}
#shadow {
    position: absolute;
    /*background: #000;*/
    z-index: 1000;
    /*background-color: rgba(0, 0, 0, .5);*/
    /*-webkit-filter: blur(8px);*/
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
}
.album {
    -webkit-app-region: drag;
}
#shadow_img {
    -webkit-filter: blur(35px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    position: absolute;
}
#title_bar {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .4);    /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 220, 220, .8)), to(rgba(0, 0, 0, 0)));
    */
    width: 100%;
    height: 32px;
    top: -36px;
    position: absolute;
    overflow: hidden;
}
#title_bar span {
    -webkit-app-region: drag;
    float: left;
    line-height: 32px;
    margin-left: 5px;
    width: 390px;
    color: rgb(25, 25, 25);
    display: block;
}
#title_bar .close:hover {
    color: #e3e3e3;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, .8)), to(rgba(0, 0, 0, 0)));
}
#title_bar .min:hover {
    color: #e3e3e3;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 190, 255, .8)), to(rgba(0, 0, 0, 0)));
}
#title_bar .btn {
    text-align: center;
    width: 32px;
    float: right;
    font-size: 14px;
    font-family: "Webdings";
    display: block;
    -webkit-app-region: no-drag;
    cursor: pointer;
}
.download_progress {
    height: 2px;
    background: -webkit-gradient(linear, left center, right center, from(rgb(255, 46, 111)), to(rgb(255, 99, 59)));
    width: 0px;
}