::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 4px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #808080;
    -webkit-border-radius: 2px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #808080;
    -webkit-border-radius: 2px;
}
html, body {
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: '微软雅黑';
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF2E6F), color-stop(1, #FF623C));
    */
}
ul {
    list-style: none;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 460px;
    height: 232px;
    padding-right: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
}
li {
    padding: 5px 5px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    /* color: white;
    */
    background-color: rgba(255, 255, 255, .5);
    color: #333;
    /* text-shadow: 5px 5px 5px #FF0000;
    */
    /* background-color: rgb(46, 46, 46);
    */
    border-radius: 2px;
    border: 1px solid #808080;
    /*box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 20px rgba( 0, 0, 0, .5 ); /* 20 */
    margin-bottom: 2px;
}
li:hover {
    color: #09e;
}
.playing {
    color: #09e;
}
li img {
    width: 27px;
    height: 27px;
    float: left;
}
li span {
    float: left;
    margin-left: 5px;
}
#player {
    border-radius: 2px;
    margin-left: 10px;
    margin-top: 10px;
    width: 454px;
    height: 90px;
    border: 1px solid #808080;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: inset 0 0px 0 rgba( 255, 255, 255, .15 ), 0 0 10px rgba( 0, 0, 0, .5 ); /* 20 */
}
.title {
    margin: 5px 5px;
    width: 330px;
    display: block;
    float: left;
    white-space: nowrap !important; /* 强制文字不换行(标准浏览器) */
    white-space: normal; /* 溢出的时候文字换行，并配合上面的固定高度，对文字进行裁切 */
    overflow: hidden;
    text-overflow: ellipsis; /* 截断文字，显示省略号(...) */
}
.album {
    float: left;
    margin: 5px 5px;
    width: 80px;
    height: 80px;
    /* border: 1px solid #757575;
    border-radius: 2px;
    */
}
#progress_bar {
    width: auto;
    height: 5px;
    float: left;
    padding: 5px 5px;
    overflow: hidden;
}
.inner_bar {
    width: 270px;
    height: 5px;
    border: 1px solid #808080;
    border-radius: 2px;
    float: left;
    vertical-align: middle;
}
.inner_progress_bar {
    float: left;
    width: 0px;
    position: absolute;
    height: 5px;
    background-color: #808080;
    margin-top: 1px;
    margin-left: 1px;
}
.inner_time {
    font-size: 12px;
    float: right;
    display: block;
    margin-right: 10px;
}
.wh32 {
    width: 32px;
    height: 32px;
}
.wh16 {
    width: 16px;
    height: 16px;
}
#control_bar {
    width: 351px;
    height: 32px;
    float: left;
    padding: 5px 5px;
}
#control_bar .btnL {
    cursor: pointer;
    float: left;
    margin-right: 15px;
}
#control_bar .btnR {
    cursor: pointer;
    float: right;
    margin-left: 10px;
}
#control_bar .back {
    background-image: url('../img/fix/back.png');
}
#control_bar .play {
    background-image: url('../img/fix/play.png');
}
#control_bar .pause {
    background-image: url('../img/fix/pause.png');
}
#control_bar .next {
    background-image: url('../img/fix/next.png');
}
#control_bar .loop {
    background-image: url('../img/fix/loop.png');
}
#control_bar .single {
    background-image: url('../img/fix/single.png');
}
#control_bar .shuffle {
    background-image: url('../img/fix/shuffle.png');
}
#control_bar .mute {
    background-position: 0px -32px;
    background-image: url('../img/fix/mute&max.png');
}
#control_bar .max {
    background-image: url('../img/fix/mute&max.png');
}
#control_bar .download {
    background-image: url('../img/fix/download.png');
}
#volume_bar {
    width: auto;
    height: 32px;
    padding: 5px 5px;
    float: right;
}
#volume_bar .img {
    float: right;
    background-image: url('../img/max.png');
}
#notify {
    position: absolute;
    float: left;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 15px 15px;
    left: 30%;
    box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
    z-index: 1001;
}
#notify span {
    float: left;
    font-size: 14px;
    line-height: 16px;
    margin-left: 5px;
}
#notify img {
    float: left;
}
#shadow {
    position: absolute;
    background: #000;
    z-index: 1000;
    opacity: .80;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
}
.album {
    -webkit-app-region: drag;
}
#shadow_img {
    -webkit-filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
    position: absolute;
}
#title_bar {
    background-color: red;
    width: 100%;
    height: 24px;
    position: absolute;
}